*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:'Courier New', Courier, monospace;
}

.container{
  width: 50vw;
  height: 50vh;
  background-image: linear-gradient(to right bottom, rgb(255, 98, 0), orange) ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
  border-radius: 5px;
}

.step,
.count,
.text-box{
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(84, 60, 16);
}

button{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  color: #555;
}